#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #0d1b2a, #000000);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;

    transition: opacity 0.8s ease-out, visibility 0.8s ease-out;
}


#splash-screen.hidden {
    opacity: 0;
    visibility: hidden;
}


#logo-animada {
    width: 90%;
    max-width: 450px;
    opacity: 0;
    animation: appearAndGlow 3.5s ease-in-out forwards;
    border-radius: 30%;
}


@keyframes appearAndGlow {
    0% {
        opacity: 0;
        transform: scale(0.9);
        filter: drop-shadow(0 0 2px rgba(255, 0, 0, 0.3));
    }

    50% {
        opacity: 1;
        transform: scale(1.05);
        filter: drop-shadow(0 0 20px rgba(255, 0, 0, 0.7)) drop-shadow(0 0 15px rgba(255, 255, 255, 0.5));
    }

    100% {
        opacity: 1;
        transform: scale(1);
        filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.5)) drop-shadow(0 0 5px rgba(255, 255, 255, 0.3));
    }
}


#conteudo-principal {
    padding: 40px;
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease-in;
}

#conteudo-principal.visible {
    opacity: 1;
}