
<div class="ticker-containe">
    <div class="ticker-track">
       
        <img src="programing.png" class="ticker-icon" />
        <img src="html-5.png" class="ticker-icon" />
        <img src="css-3.png" class="ticker-icon" />
        <img src="java-script.png" class="ticker-icon" />
        <img src="python.png" class="ticker-icon" />
        <img src="java.png" class="ticker-icon" />
    
     
        <!-- <img src="programing.png" class="ticker-icon" />
        <img src="html-5.png" class="ticker-icon" />
        <img src="css-3.png" class="ticker-icon" />
        <img src="java-script.png" class="ticker-icon" />
        <img src="python.png" class="ticker-icon" />
        <img src="java.png" class="ticker-icon" /> -->
        
        
    </div>
</div>

