.tv-screen-container {
    max-width: 900px;
    margin: 3rem auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    border-radius: 1.5rem;
    overflow: hidden;
    background-color: #1a1a1a;
    margin: 6rem auto;
}

#devFullCarousel {
    height: 100%;
}


#devFullCarousel .carousel-item img {
    height: 400px;
    object-fit: cover;
}