.carousel-section-container {
    padding: 80px 0;
    width: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: #0A0A10; 
}


.tv-frame-effect {
    max-width: 900px; 
    height: 700px;
    margin: 0 auto; 
    overflow: hidden; 
    border-radius: 100px; 
    border: 3px solid rgba(0, 191, 255, 0.1); 
    box-shadow: none;
    transition: all 0.4s ease-in-out; 
}


.tv-frame-effect:hover {
    border: 3px solid #ff0000; 
    box-shadow: 0 0 40px  rgba(255, 0, 0, 0.9); 
}


.carousel-inner {
    width: 1500px;
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


.carousel-control-prev,
.carousel-control-next { 
    width: 5%;
    opacity: 0.8;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: drop-shadow(0 0 5px #00BFFF);
}




