<section class="carousel-section-container">
    <div id="carouselExampleAutoplaying" class="carousel slide tv-frame-effect" data-bs-ride="carousel">
        
        <div class="carousel-inner tv-screen">
            <div class="carousel-item active">
                <img src="cod.html.png" class="d-block w-100" alt="Código HTML">
            </div>
            
            <div class="carousel-item">
                <img src="cod.ts.png" class="d-block w-100" alt="Código TypeScript">
            </div>
            
            <div class="carousel-item">
                <img src="cod.css.png" class="d-block w-100" alt="Código CSS">
            </div>
        </div>   
    </div>
</section>
