body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #0d1b2a, #000000);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: 'Science Gothic',sans-serif;;
    
}
#global-bg {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: block;
  background: linear-gradient(180deg, #06070a 0%, #030304 100%);
}


