<div class="main-container">

  <section id="about" class="about-section interactive-history">
    
    <div class="logo-area">
        <img src="Logo-Órdago.png" alt="Logo Órdago" class="ordago-logo"/>
        
        <h2 class="title-trigger">Nossa História: Clique para Revelar.</h2> 
    </div>

    <div class="text-area history-content">
        <h3>A Fábrica de Resultados</h3>
        <p>A Órdago nasceu com o objetivo de entregar inovação, qualidade e confiabilidade. Crescemos ouvindo clientes, estudando o mercado e desenvolvendo soluções eficientes que realmente fazem a diferença no dia a dia. **Somos uma fábrica de resultados, não apenas uma prestadora de serviços.**</p>
    </div>
</section>

  <!-- CARDS -->
  <div class="cards-container">
    <div class="card">
      <div class="emoji"><img src="nano.png" alt="ícone de tecnologia"></div>
      <div class="card-title">Tecnologia</div>
      <div class="card-text">Soluções criadas com foco em desempenho e eficiência.</div>
    </div>

    <div class="card">
      <div class="emoji"><img src="data-gathering.png" alt="Ícone de Dados"></div> 
      <div class="card-title">Dados</div>
      <div class="card-text">Análise precisa para tomadas de decisão inteligentes.</div>
    </div>

    <div class="card">
      <div class="emoji"><img src="performace.png" alt="ícone de perfomace"></div>
      <div class="card-title">Performance</div>
      <div class="card-text">Produtos otimizados para máxima entrega.</div>
    </div>

    <div class="card">
      <div class="emoji"><img src="cyber-criminal.png" alt="ícone de segurança"></div>
      <div class="card-title">Segurança</div>
      <div class="card-text">Proteção e confiabilidade em cada etapa.</div>
    </div>
  </div>

</div>
